<!DOCTYPE html>
<html>

<head>
  <title>XX大学办公自动化聊天系统</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>欢迎来到XX大学办公自动化聊天系统！</h1>
  <h2 id = "h2"><%= message%></h2>
    <button class="but" onclick="document.getElementById('register').style.display='block'">注册
    </button>
    <button class="but" onclick="document.getElementById('login').style.display='block'">登录
    </button>
  <!--登录界面-->
  <div id="login" class="modal">
    <form class="model-content animate" action="/login" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('login').style.display='none'" class="close"
          title="Close Modal">&times;</span>
        <img src="https://static.runoob.com/images/mix/img_avatar.png" alt="Avatar" class="avatar">
      </div>
      <div class="container">
        <label><b>用户名</b></label>
        <input type="text" placeholder="输入用户名" name="username" required>
        <label><b>密码</b></label>
        <input type="password" placeholder="输入密码" name="password" required>
        <button type="submit" class="bbb">登录</button>
        <input type="checkbox" checked="checked"> 记住我
      </div>
    </form>
  </div>
  <!--注册界面-->
  <div id="register" class="modal">
    <form class="model-content animate" action="/register" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('register').style.display='none'" class="close"
          title="Close Modal">&times;</span>
        <img src="https://static.runoob.com/images/mix/img_avatar.png" alt="Avatar" class="avatar">
      </div>
      <div class="container">
        <label><b>用户名</b></label>
        <input type="text" placeholder="输入用户名" name="username" onkeyup="findinDB()" required>
        <label><b>密码</b></label>
        <input type="password" placeholder="输入密码" id="pwd1" name="password" required>
        <label><b>确认密码</b></label>
        <input type="password" placeholder="再次输入密码" id="pwd2" name="password2" onkeyup="validate()" required>
        <button type="submit" class="bbb" id="submits">注册</button>
        <button id="resett" class="bbb" type="reset">重新输入</button>
      </div>
      <span id="tishi"></span>
    </form>
  </div>
</body>
</html>
<script>
    //注册时判断用户名是否已被注册 
    function findinDB(){
      //TODO:与后端数据库连接，查询用户名是否存在
    }
    //注册时判断两次密码输入是否相同
    function validate() {
           var pwd1 = document.getElementById("pwd1").value;
           var pwd2 = document.getElementById("pwd2").value;
           if(pwd1 == pwd2) {
                document.getElementById("tishi").innerHTML="<font color='green'>两次密码相同</font>";
                document.getElementById("submits").disabled = false;
            }
           else {
              document.getElementById("tishi").innerHTML="<font color='red'>两次密码不相同</font>";
              document.getElementById("submits").disabled = true;
            }
     }
</script>