<html>

<head>
    <title>chat UI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/stylesheets/client.css" rel="stylesheet">
    <link href="/stylesheets/button.css" rel="stylesheet">
    <link href="/stylesheets/alert.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
</head>
<script>document.getElementsByTagName('body').height = window.innerHeight;</script>

<body class="box">
    <div class="containerr">
        <div id="pageMask"></div>
        <!--遮盖层-->
        <h1 id="sess_name"><%= user_name%></h1>
        <p id="chatserver"><%= chat_server%></p>
        <button class="sendbtn" onclick="logout()">退出</button>
        <select id="historyfind" class="sendbtn" onchange="selechat()">
            <option>查询聊天记录</option>
        </select>
        <div class="chatbox" id="chatbox">
            <div class="chatleft">
                <div class="top">
                    <div class="select">
                        <select id="myselect" onchange="selefri()">
                            <option>请选择聊天好友</option>
                        </select>
                    </div>
                    <div class="container">
                        <button onclick="showModel()">创建群聊</button>
                        <div id="myModel">
                            <div class="model-content">
                                <input type="text" id="doublename" value="请输入群名">
                                <p >请选择群聊好友</p>
                                <div id = "friend"></div> 
                                <p>
                                    <button id="closeModel" onclick="closesend()">确认</button>
                                    <button id="closeModel" onclick="closeModel()">取消</button>
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="center">
                    <ul id="listul">
                    </ul>
                </div>
            </div>
            <div class="chatright" id="chatwin1">
                <div class="top">
                    <span id="chattop1" class="spa"></span>
                    <span onclick="delechat(1)" class="close" title="Close Modal" id="close1"></span>
                </div>
                <div class="center">
                    <ul class="ull" id="ulll1">
                    </ul>
                </div>
                <div class="footer">
                    <input type="file" id="fileinput1" />
                    <button id="showModalBtn1" onclick="show(1)">预览</button>
                    <textarea class="text" id="textx1" placeholder="请在此输入要发送的内容..."></textarea>
                    <button class="sendbtn" id="sendbtn1" onclick="send_mess(1)">发送</button>
                </div>
            </div>
        </div>
    </div>

    <div id="ModalBody">
        <!--模态框-->
        <span id="closeModalBtn" class="close" title="Close Modal" style="display: none;">&times;</span>
        <div id="video">
            <video id="vidshow" controls>
        </div>
        <div id="img">
            <img id="imgshow">
        </div>
        <div id="audio">
            <audio id="audshow" controls>
        </div>
    </div>
    <div id="ModalBody2">
        <!--模态框-->
        <span id="closeModalBtn2" class="close" title="Close Modal" style="display: none;">&times;</span>
        <table id = "table-1" border="4" width="30%" cellspacing="0" cellpadding="10" align="center">
            <caption>
                聊天记录查询
            </caption>
            <thead>
                <tr>
                    <th>时间</th>
                    <th>发送者</th>
                    <th>接收者</th>
                    <th>内容</th>
                </tr>
            </thead>
        </table>
    </div>
</body>

</html>
<script type="text/javascript" src="/stylesheets/chat.js"></script>