<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/button.css' />
</head>
<body>
    <h1>Hello,Admin <%=user_name%>!</h1>
    <div id="butt">
        <button class="but" onclick="window.location.href='/logout'">Logout
        </button>
    </div>
</body>
</html>